/*  */
.carousel-container input[type='range'] {
    -webkit-appearance: none;
    height: 1px;
}

.carousel-container input[type='range']::-webkit-slider-runnable-track {
    width: 300px;
    height: 4px;
    background: #595a5c;
    border: none;
    border-radius: 3px;
    height: 1px;
}

.carousel-container input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 4px;
    width: 15%;
    max-width: 175px;
    border-radius: 0%;
    background: rgb(53, 163, 90);
    margin-top: 0px;
    height: 1px;
}

.carousel-container input[type='range']:focus {
    outline: none;
    height: 1px;
}

.carousel-container input[type='range']:focus::-webkit-slider-runnable-track {
    background: #595a5c;
    height: 1px;
}

.second-block-gradient {
    position: absolute;
    top: 0;
    right: 0;
    background: radial-gradient(
        ellipse 84% 67% at 50% 31%,
        rgba(67, 7, 123, 1) 0%,
        rgb(0, 0, 0, 0.99) 51%,
        rgba(0, 0, 0) 100%
    );
    width: 50%;
    height: 100%;
}

/* Top Selling Licenses */
.time-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.04);
    padding: 2px;
    overflow: hidden;
    border-radius: 10px;
    gap: 6px;
}

.time-selector button {
    border-radius: 10px !important;
    height: 48px;
    width: 58px;
    text-transform: none;
    transition: all 0.3s ease 0s;
}

.time-selector .selected-btn {
    color: #646d75 !important;
    background-color: rgba(18, 18, 18, 0.04);
}

.time-selector .unselected-btn {
    color: #04111d !important;
}

.license-type-selector {
    width: 100px;
    background-color: #fff;
    margin-left: 20px;
}

.license-type-selector .MuiOutlinedInput-notchedOutline {
    border: none;
    outline: none;
    margin-left: auto;
}

.license-type-selector.Mui-focused {
    box-shadow: none;
}

.license-type-selector.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: none;
    outline: none;
    box-shadow: none;
}

.license-type-selector:hover {
    background-color: rgb(18 18 18 / 4%);
}
